// Import
@import "../../styles/variables/variables";

.leftMenuFooter { /* stylelint-disable */
  position: absolute;
  width: 100%;
  background: #2f2f2f;
  color: #ffffff;
  bottom: 0;
}
.leftMenuFooter a{
  color:#ffffff;
  :hover {
    color: #fff2f2;
  }
}
.list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  color: #2f2f2f;
}

.poweredBy {
  width: 100%;
  bottom: 0;
  height: 3rem;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 3rem;
  background-color: rgba(255, 255, 255, .02);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  vertical-align: middle;
  color: #ffffff
}
