// App variables

// - colors
$black: #000000;
$white: #fffff1;

$strapi-gray-light: #EFF3F6;
$strapi-gray: #535F76;

$strapi-blue-darker: #18202E;
$strapi-blue-dark: #151C2E;
$strapi-blue: #000000;

// - layout
// -- left menu
$left-menu-width: 24rem;
$left-menu-bg: $strapi-blue-darker;
$left-menu-link-hover: #311413;
$left-menu-link-color: #919BAE;
$left-menu-title-color: #5B626F;

// -- header
$header-height: 6rem;

// -- content
$content-background: #FAFAFB;

// Import bootstrap variables
@import "variables.bootstrap";
